@google-cloud/firestore
@google-cloud/storage
@google/generative-ai
@hapi/cookie
@hapi/hapi
@tensorflow/tfjs-node
axios
bcrypt
dotenv
google-auth-library
googleapis
hapi-auth-jwt2
joi
jsonwebtoken
lodash
minimist
moment
node-cron
nodemon
